@import "@fontsource/geist-sans/index.css";
@import "@fontsource/archivo-black/index.css";
@import "@fontsource-variable/noto-emoji";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @keyframes land {
    0% {
        transform: translateY(-3em);
        opacity: 0%;
    }
    0% {
        transform: translateY(0em);
        opacity: 100%;
    }
} */
